.menu-container {
    width: 200px;
    background-color: #f4f4f4;
    height: 100%;
    position: fixed;
}

/* Style the menu items */
.menu-item {
    padding:30px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Change background color on hover */
.menu-item:hover {
    background-color: #ddd;
}

.box {
    border: 1px solid #000;
    padding: 20px;
    width: 500px;
    margin-left: 40px;
    border-radius: 10px;
}

.row {
    margin-bottom: 5px;
}

.row:last-child {
    margin-bottom: 0;
}
#editButton{
        display: flex;
}
#cancelButton{
    display: flex;
}
#SearchButton{
    margin-left:40px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
}