.nav-bar{
    height: 50px;
    width: 100%;
    background-color:rgb(73,172, 172);
}
.nav-bar ul {
    margin-left: 80px;
    display: flex;
    justify-content: flex-end;
}
ul>li{
    color: black;
}
.logo{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    position: fixed;
    margin-top: 0;
}