body{
    height:100vh;
    width:100vw;
    background: hsla(217, 100%, 50%, 1);
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
    font-size: 2rem;
}
.logo img {
    height: 50px;
    width: 50px;
    position: relative;
    margin-left: 0;
}
.container{
    display: block;
    height: 200px;
    width: 300px;
    margin-top: 20%;
    text-align: center;
    margin-left: 40%;
    border-radius: 5px;
    background-color: white;
    
}
.container .s {
    font-size: 2rem;
    background-color: rgb(73, 172, 172);
}
.container .sub{
    font-size: 1rem;
    transform: translateY(150%);
}
button{
    font-size:1.5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 7px black;
    transform: translateY(178%);
    display: inline;
    justify-content: space-between;
}
.btns button:hover{
    background-color: black;
    color: white;
}