.logo img {
    height: 100px;
    width: 100px;
}

.container{
    font-family:Poppins;
    height: 50vh;
    width: 70vw;
    font-size: 2rem;
    display: flex;
    background-color: #3056D3;
    align-items: center;
    justify-content: center;
    transform: translate(19vw,19vh);
    border-radius: 20px;
}

.container .aside .input{
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
 .header  {
   text-align: right;
   align-items: center;
}

#OTP{
    height: 25px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;

}

#btn{
    display: block;
    width: 120px;
    height: 25px;
    line-height: 10px;
    background-color: yellowgreen;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
#btn:hover {
    box-shadow: -8px 8px 10px green;
}