img {
    height: 200px;
    width: 200px;
    position: fixed;
    transform: translate(25vw,27vh);
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #3053D3;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{
    font-family:Poppins;
    font-size: 2rem;
    background-color:whitesmoke;
    text-align: left;
    height: 350px;
    width: 500px;
    transform: translate(40vw,20vh);
    border-radius: 20px;
}
.container .input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#btn{
    display: block;
    width: 120px;
    height: 25px;
    line-height: 10px;
    background-color: yellowgreen;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
#OTP{
    height: 40px;
    width: 350px;
    border-radius: 10px;
}

#btn:hover{
  box-shadow: -6px 6px 9px greenyellow;
}
#btn :active {
   color: yellowgreen;
   background-color: black;
}