.nav-bar{
    margin-top: -20px;
    height: 80px;
    width: 100%;
    background-color:rgb(73,172, 172);
    font-size: 1.5rem;
}
.nav-bar ul {
    margin-left: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 50px;
}
ul>li{
    margin-top: 25px;
    color: black;
    align-items: center;
    justify-content: center;
    font-weight: 10;
}
.logo{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    position: fixed;
    margin-top: 12px;
}
 
a{
    color: black;
    border-radius: 10px;
    text-decoration: none;

}
.nav-elements{
    color: aliceblue;
    font-weight: bold;
    border: 1px solid black;
}
a:hover{
    box-shadow: 0px 5px 10px limegreen;
}