img {
    height: 100px;
    width: 100px;
    position: fixed;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #3053D3;
}


.container{
    font-family:Poppins;
    font-size: 2rem;
    background-color:whitesmoke;
    text-align: left;
    height: 250px;
    width: 500px;
    transform: translate(40vw,20vh);
    border-radius: 20px;
}
.container .input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#btn{
    display: block;
    width: 120px;
    height: 25px;
    line-height: 10px;
    background-color: yellowgreen;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
#OTP{
    height: 20px;
    width: 350px;
}