.body{
    background-color:#3056D3 ;
}
.div1{
   display: flex;
   justify-content:center;
    /* background-color: rgb(74, 74, 243); */
    gap: 30px;
    width: 1000px;
    height: 315px;
    margin-left: 90px;
}
img{
 width: 200px; 
 height: 200px;  
 background-color:#3056D3;
 text-align: center;
 margin-top: 200px;
}
.div2{
    padding: 20px;
     text-align: center;
  
     
} 
.div3{
    text-align: center;
    display: flex;
    gap: 10px;
    margin-left: 45px;
}
.hover:hover{
    background-color: rgba(113, 113, 243, 0.705);
}
