.body{
    background-color:#3056D3 ;
}
.div1{
   display: flex;
   justify-content:center;
    /* background-color: rgb(74, 74, 243); */
    gap: 30px;
    width: 1000px;
    height: 315px;
    margin-left: 90px;
}
img{
 width: 200px; 
 height: 200px;  
 background-color:#3056D3;
 text-align: center;
 margin-top: 220px;
}
.div2{
    padding: 20px;
     text-align: center;
     border-radius: 15px ;
  
     
} 
.div3{
    text-align: center;
    display: flex;
    gap: 10px;
    margin-left: 30px;
}
.hover:hover{
    background-color: rgba(113, 113, 243, 0.705);
}
.hover{
    width: 60px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 25px;
}
.input{
    border-radius: 5px;
}
