.div1{
    background-color: black;
    width: 1440px;
    height: 80px;
    margin-left: 10px;
    border: 1px white

}
.h1{
    width: 229px;
    height: 48px;
    margin-top: 99px;
    margin-left: 352px;

}
