.div1{
    background-color: black;
    width: 1440px;
    height: 80px;
    margin-left: 0px;
    border: 1px white

}
.h1{
    width: 200px;
    height: 20px;
    margin-top: 0px;
    margin-left: 35px;
    color: white;

}
.inner{
    display: flex;
}
.div2{
    display: flex;
    background-color: black;
}
.div3{
    background-color: black;
    text-align: center;
    border: 1px white;
    border-radius: 1px solid white;
    width: 105px;
    height: 862px;
    margin-top: 1px;
    margin-left: 10px;
    

}
.div4{
    background-color: black;
    width: 1164px;
    height: 860px;
margin-top: 0px;
margin-left: 0px;

}
img{
    width: 80px;
    height: 65px;
    margin-top: 15px;
    margin-left: 25px;

}
.h4{
    width: 157px;
    height: 29px;
    margin-top: 21px;
    margin-left: 47px;
    color: white;

}
.h6{
    width: 300px;
     height: 29px;
    margin-top: 0px;
    margin-left: 40px;
    color: white;
}

.innerdiv2,.innerdiv3,.innerdiv{
    display: flex;
    gap: 30px;
    margin-left: 500px;
    margin-top: 40px;

}
.outerdiv,.outerdiv2,.outerdiv3{
    display: flex;
    width: 793px;
    height: 88px;
    margin-top: 80px;
    margin-left: 130px;
    border: 1px solid white;

}